body {
    font-family: 'Quicksand', sans-serif;
    color: #041a2b;
}
.primary-color {
    background-color: #00a859;
}
.primary-color:hover {
    background-color: #00a859;
}
.primary-text {
    color: #00a859;
}
.accent-text {
    color: #febb00;
}
.accent2-text {
    color: #999999;
}
.accent-color {
    background-color: #febb00;
}
.navbar-logo {
    max-height: 50px;
    margin-top: 10px;
    margin-left: 55px;
}
.full-width {
    width: 100%;
}
.btn {
    border-radius: 25px;
    height: 45px;
}
.ic_user {
    max-width: 104px;
}
.primary-input {
    border-radius: 21px;
    background-color: #f7f7f7;
    margin-bottom: 20px
}
.influencer-card {
    border-radius: 7.5px;
    border: solid 0.5px #bebebe;
    /* max-width: 205px; */
    margin-bottom: 20px;
    /* margin-left : 30px;
    margin-right: 30px; */
}
.influencer-img {
    max-width: 100px;
    margin-top: 30px;
}
.pagination li.active {
    background-color: #00a859;
}
.adv:hover {
    transition: background-color 0.5s ease;
    background-color: #f2f2f2;
}
.adv-img {
    max-width: 225px;
    border-radius: 2.5px;
    border: solid 0.5px #bebebe;
    margin-top: 10%;

}
.adv-ava-img {
    max-width: 40px;
}

.adv-detail-img {
    border-radius: 3.5px;
    border: solid 2px #bebebe;
}
.adv-bid-list {
    padding: 10px;
    border-radius: 3.5px;
    border: solid 2px #bebebe;
}